header {
  display: flex;
  width: 90%;
  gap: 1rem;
  margin: 2rem auto;
  align-items: center;
  
  img {
    width: 40px;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: center;
  
  }
}