.dolar {
  margin: 1rem 0 2rem 0;
}

#dolarValue {
  font-weight: 500;
}

article {
  display: flex;
  width: 50%;
  gap: 1rem;
  margin: 1rem auto;
  border: 1px solid var(--myGray);
  border-radius: .5rem;
}

form {
  width: 50%;

  #inputDolar,
  #inputPeso {
    width: 100%;
    height: 40px;
    text-align: center;
    border: none;
    border-right: 1px solid var(--myGray);
    border-radius: .5rem 0 0 .5rem;
    color: var(--myBlack);
    background-color: var(--myGray);
    outline: none;
  }
}

div {
  display: flex;
  width: 50%;
  margin: auto;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 0 .5rem .5rem 0;
}

@media (max-width: 1200px) {
  article {
    width: 70%;
  }
}

@media (max-width: 768px) {
  article {
    display: grid;
    width: 90%; 
  }

  form {
    width: 100%;

    #inputDolar,
    #inputPeso {
      border-bottom: 1px solid var(--myGray);
      border-radius: .5rem .5rem 0 0;
    }
  }

  div {
    width: 100%;

    p {
      margin-bottom: 1rem;
    }
  }
}