:root {
  color-scheme: dark light;
  --myGray: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: sans-serif;

  main {
    height: 100dvh;

    .title {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }

    .subtitle {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .card {
      width: 90%;
      display: grid;
      min-height: 250px;
      margin: 2rem auto;
      padding: 2rem 0;
      align-content: center;
      justify-items: center;
      text-align: center;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}