:root {
  color-scheme: dark light;
  --font: 'Saira Variable', sans-serif;
  --gray: #ccc
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: var(--font);

  main {
    height: 100dvh;
    padding: 1rem;

    .title {
      text-align: center;
      font-size: 2rem;
      font-weight: 200s;
    }

    .container {
      display: grid;
      width: 100%;
      margin: auto;
      margin-top: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      justify-items: center;
    }

    .card {
      display: grid;
      width: 85%;
      min-height: 250px;
      margin: 0 auto;
      padding: 1rem;
      align-content: center;
      justify-items: center;
      text-align: center;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}